<header class="header">
  <nav class="gnavi">
    <ul class="gnavi__list">
      <li class="gnavi__item"><a href="<%= meta.linkPath; %>index.html">HOME</a></li>
      <li class="gnavi__item"><a href="<%= meta.linkPath; %>about/">ABOUT</a></li>
      <li class="gnavi__item"><a href="<%= meta.linkPath; %>news/">NEWS</a></li>
    </ul>
  </nav>
</header>