{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": ">0.5%, not dead"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
