<%- include('./_templates/_config.ejs'); %>
<%_
  const meta = {
    page: 'news',
    title: 'NEWS｜サイト名',
    description: 'ここにNEWSのディスクリプションが入ります',
    canonical: 'https://prod.com/news/detail/',
    ogp: 'https://prod.com/assets/images/ogp.png',
    stylePath: '/assets/css/',
    scriptPath: '/assets/js/',
    imgPath: '/assets/images/',
    linkPath: '../'
  };
  const structured = {
    item: [
      {
        level: '2',
        name: 'ニュース',
        url: `/${ meta.page }/`,
      },
      {
        level: '3',
        name: 'ニュース詳細ページ',
        url: `/${ meta.page }/detail/`,
      },
    ],
  };
_%>
<%- include('./_templates/_head.ejs', { domain, path, dir, meta: meta, structured }); %>
<%- include('./_templates/_header.ejs', { domain, path, dir, meta: meta }); %>
<main class="main">
  <h1 class="">NEWS</h1>
  <p>ニュースページです。</p>
</main>
<%- include('./_templates/_footer.ejs', { domain, path, dir, meta: meta }); %>
<!--script src="< %= meta.scriptPath; %>main.js"></script-->

<link rel="stylesheet" href="../scss/style.scss" />
<script type="module" src="../js/main.js"></script>
</body>
</html>