extends ../_templates/_layout

block vars
  -
    head.title = 'NEWS'
    head.slug = 'contact'
    head.keywords = ''
    head.description = 'ニュースページなんです！'

block append head

block append style
  link(rel='stylesheet', href=`${ filePath }assets/css/news.css`)

block includes

block main
  main#main.main
    .main__inner

  //- アーティクル
  article.news ニュースページなんです！

block append scripts
  //-
    script(src=`${ filePath }assets/js/news.js`)
