extends ../_templates/_layout

block vars
  -
    head.title = 'NEWS'
    head.slug = 'contact'
    head.keywords = ''
    head.description = 'ニュースページなんです！'

block append head

block append style
  link(rel='stylesheet', href=`${ filePath }assets/css/news.css`)

block includes

block main
  main#main.main
    .main__inner

  //- アーティクル
  article.news ニュースページなんです！

  picture(style="display: block; text-align: center; margin: 1rem auto")
    source(type="image/webp" srcset="/assets/images/sub-directory/1.webp")
    img(src="/assets/images/sub-directory/1.jpg" width="550" height="404" alt="SAMPLE 1")

  picture(style="display: block; text-align: center; margin: 1rem auto")
    source(type="image/webp" srcset="/assets/images/sub-directory/2.webp")
    img(src="/assets/images/sub-directory/2.jpg" width="550" height="404" alt="SAMPLE 2")

block append scripts
  //-
    script(src=`${ filePath }assets/js/news.js`)
