*.log

*/node_modules/
*/dist/
*/src/public/assets/images/
!vite_pug/src/public/assets/images/

#vendor
debug.php
.env
_datacache
sitemap.xml

.vscode
.yarn
.pnp.cjs
.pnp.loader.mjs
*/temp/

/vite_sass/