extends ./_templates/_layout.pug

block vars
  -
    head.title = 'INDEX'
    head.slug = 'index'
    head.keywords = 'index, INDEX'
    head.description = 'インデックスなんです...'
  - var isIndex = true

block append head
  script(src="", async)
  script(src="https://www.googletagmanager.com/gtag/js?id=", async)
  script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', '');

block includes
  include ./_templates/parts/article/datas/_index
  include ./_templates/parts/article/_article

block main

  main#main.main
    .main__inner

  //- アーティクル
  article
    section.section
      .section__inner
        +article({})

block append style
  // link(rel='stylesheet', href=`./scss/style.scss`)

block append scripts
  // script(src="./js/main.js" type="module")
