/* =========================================
  Variables
========================================= */

@layer base {
  :root {
    /* Colors */
    --color-primary: #2563eb;
    --color-secondary: #64748b;
    --color-bg: #ffffff;
    --color-text: #111111;

    /*Colors*/
    --blue: #00baf0;
    --white: #fff;
    --gray: #f4f4f4;
    --orange: #ff9545;
    --green: #4c6520;
    --purple: #d900ff;

    /*Style Guide*/
    --primary-color: var(--blue);
    --secondary-color: var(--white);
    --accent-color: var(--gray);
    --button-1: var(--orange);
    --button-2: var(--green);

    /* Typography */
    --font-base: 16px;
    --font-default: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    //--font-sans-serif: 'Noto Sans JP', sans-serif;
    --font-sans-serif: 'Local Noto Sans JP', 'Noto Sans JP', sans-serif;
    --font-serif: 'Times New Roman', 'Hiragino Mincho ProN', 'YuMincho', 'Yu Mincho', 'BIZ UDMincho', 'MS PMincho', serif;
    --font-roman: 'Arial', 'Hiragino Kaku Gothic ProN', 'YuGothic', 'Yu Gothic', 'BIZ UDGothic', 'Meiryo', 'MS PGothic', sans-serif;

    /* Fluid Typography */
    --font-fluid-lg: clamp(1.25rem, 1.1vw + 1rem, 2rem);

    /* Line Height */
    --line-height-heading: 1.5;
    --line-height-paragraph: 1.75;
    //--line-height-list: 1.8;

    /* Spacing Scale */
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;

    /* Radii */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;

    /* z-index */
    --z-header: 100;
    --z-modal: 500;
    --z-toast: 900;
  }
}
