// Footer
@use '../core' as *;

// Setting
//@use '../core/variables' as v;
// Mixin
//@use '../core/mixins' as m;

.footer {
  color: #fff;
  background-color: var(--blue);

  @include mq(pc-lg, up) {
    margin: 0 0 10rem;
  }

  @include mq(md, up) {
    color: #000;
    background-color: var(--orange);
  }

  @include mq(tab, up) {
    background-color: var(--gray);
  }

  @include mq(xl, up) {
    background-color: var(--purple);
  }

  @include mq(pc-lg, up) {
    background-color: var(--green);
  }
}
