-
  var patterns = {
    items: [
      {
        id: '1',
        name: 'No.1',
        image: 'image1'
      },
      {
        id: '2',
        name: 'No.2',
        image: 'image2'
      },
      {
        id: '3',
        name: 'No.3',
        image: 'image3'
      },
      {
        id: '4',
        name: 'No.4',
        image: 'image4'
      },
      {
        id: '5',
        name: 'No.5',
        image: 'image5'
      },
      {
        id: '6',
        name: 'No.6',
        image: 'image6'
      },
      {
        id: '7',
        name: 'No.7',
        image: 'image7'
      },
      {
        id: '8',
        name: 'No.8',
        image: 'image8'
      },
      {
        id: '9',
        name: 'No.9',
        image: 'image9'
      },
      {
        id: '10',
        name: 'No.10',
        image: 'image10'
      }
    ]
  };
