/* =====================================
  Global entry style sheet
===================================== */

// @layer reset, base, vendor, layout, components, project, utilities;

@charset "utf-8";
@use 'sass:meta';

/* レイヤー宣言だけ */
@use 'core/config.layer';

/* コア（変数・関数・mixin） */
@use 'core/index' as core;

/* base層（中で @layer reset/base を定義） */
@use 'base/index' as *;

/* vendor層：外部ライブラリ（Splide など） */
@layer vendor {
  @include meta.load-css('vendor/index');
}

/* layout層 */
@layer layout {
  @include meta.load-css('layout/index');
}

/* components層 */
@layer components {
  @include meta.load-css('components/index');
}

/* project層（ページ単位） */
@layer project {
  @include meta.load-css('project/index');
}

/* utilities層（最後に勝つ） */
@layer utilities {
  @include meta.load-css('utilities/index');
}
