<%- include('./_templates/_config.ejs'); %>
<%_
  const meta = {
    page: 'home',
    title: 'HOME｜サイト名',
    description: 'ここにHOMEのディスクリプションが入ります',
    canonical: '/',
    ogp: '/assets/images/ogp.png',
    stylePath: './scss/',
    scriptPath: './js/',
    imgPath: '/images/',
    linkPath: '/'
  };
  const structured = {
    item: [
      {
      },
    ]
  };
_%>
<%- include('./_templates/_head.ejs', { domain, path, dir, meta: meta, structured }); %>

<div><%= environment %></div>
<div><%= meta.title %></div>
<div><%= meta.description %></div>

<%- include('./_templates/_header.ejs', { domain, path, dir, meta: meta }); %>
<%- include('./_templates/_home.ejs', { domain, path, dir, meta: meta }); %>

<figure style="text-align: center;">
  <img src="<%= path %>/assets/images/logo-with-shadow.png" alt="Vite" width="200">
</figure>

<figure style="text-align: center;">
  <img src="<%= path %>/assets/images/SVG_logo.svg" alt="SVG" width="200">
</figure>

<figure style="text-align: center;">
  <img src="<%= path %>/assets/images/sample.png" alt="SAMPLE" width="200">
</figure>

<figure style="text-align: center;">
  <img src="<%= path %>/assets/images/gulp-logo.svg" alt="Gulp" width="200">
</figure>

<figure style="text-align: center;">
  <img src="<%= path %>/assets/images/2076813463_59c314654d_o.png" alt="SAMPLE" width="200">
</figure>

<figure style="text-align: center;">
  <img src="<%= path %>/assets/images/33182094584_4352068d39_o.jpg" alt="SAMPLE" width="200">
</figure>

<%- include('./_templates/_footer.ejs', { domain, path, dir, meta: meta }); %>

<link rel="stylesheet" href="./scss/style.scss" />
<script type="module" src="./js/main.js"></script>

</body>
</html>
