/* =========================================
  Base Style (CSS変数ベース)
========================================= */
@use '../core' as *;

@layer base {
  html {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //background-color: var(--color-bg);
  }

  body {
    position: relative;
    color: var(--c-text);
    font-family: var(--font-sans-serif);
    font-size: var(--font-base);
    font-feature-settings: 'palt';
    line-height: var(--line-height-paragraph);
    text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: var(--white);
    overflow-wrap: anywhere; /* 収まらない場合に折り返す */
    word-break: normal; /* 単語の分割はデフォルトに依存 */
    line-break: strict; /* 禁則処理を厳格に適用 */

    ::selection,
    ::-moz-selection {
      color: var(--black);
      background: var(--white);
    }

    //&.home {
    //	padding: 0;
    //}

    &.is-open-sp-menu {
      _zoom: 1;
      overflow: hidden;

      @supports (-webkit-touch-callout: none) {
        html {
          height: -webkit-fill-available;
        }

        body {
          min-height: 100svh;
          height: -webkit-fill-available;
        }
      }
    }
  }

  /* アプリ的UI操作感 */
  :focus-visible {
    //outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  a[href^='tel:'] {
    @include mq(md) {
      pointer-events: none;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  button {
    cursor: pointer;
    border: none;
    background: none;
  }
}
