/* ==============================================
  Typography
============================================== */

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    //margin: 0 0 var(--space-4);
    line-height: 1.4;
    font-weight: 700;
  }

  h1 {
    font-size: clamp(2rem, 1.4vw + 1.6rem, 3rem);
  }
  h2 {
    font-size: clamp(1.75rem, 1.2vw + 1.4rem, 2.5rem);
  }
  h3 {
    font-size: clamp(1.5rem, 1vw + 1.2rem, 2rem);
  }
  h4 {
    font-size: clamp(1.25rem, 0.8vw + 1rem, 1.6rem);
  }
  h5 {
    font-size: 1.125rem;
  }
  h6 {
    font-size: 1rem;
  }

  p {
    //margin: 0 0 var(--space-4);
  }

  strong {
    font-weight: 700;
  }
}
